/bin/
/dist/
/TODO*.md
/tests/vm/local.env
/tests/vm/template.env
/tests/vm/*.pub
/virt-temp/module/*.o
/virt-temp/module/*.ko
/virt-temp/module/*.mod
/virt-temp/module/*.mod.c
/virt-temp/module/.*.cmd
/virt-temp/module/Module.symvers
/virt-temp/module/modules.order
